body {
  max-width: 640px;
  margin: auto;
}

.image {
  width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-weight: bold;
}

.status-area {
  display: flex;
  gap: 1rem;
}
.status-area>div {
  display: flex;
  gap: .2em;
}


body.done {
  background-color: #fdd;
}
body.done #status {
  color: red;
}

a.done {
  color: gray;
}