html {
  background-color: aliceblue;
  height: 100%;
}

body {
  max-width: calc(640px + 2rem);
  margin: auto;
  padding: 1rem;
  background-color: white;
  min-height: 100%;
}

.image {
  width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.status-area {
  display: flex;
  gap: 1rem;
  margin: 0;
}

.status-area>div {
  display: flex;
  gap: .2em;
}

.status-area * {
  margin: 0;
}

body.done {
  background-color: #dfd;
}

body:not(.done) .status {
  color: #f00;
}

a.done {
  color: gray;
}

details.sample {
  padding-bottom: 1rem;
}

details.sample summary {
  font-size: 1.25rem;
  font-weight: bold;
}
