<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="username" content="{{username}}">
  <title>{% block title %}head-detect-annotator{% endblock %}</title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/annotorious.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/setcount.js" defer></script>
  {% endblock %}
</head>

<body>
  <header>
    {% block header %}
    <div>
      <a href="/">home</a>
      <a href="/ranking/">ranking</a>
      <a href="/random/">random</a>
    </div>
    <dl class="status-area">
      {% block status_area %}      
      <div>
        <dt>user:</dt>
        <dd id="username">
          <span>{{username}}</span>
          (<span id="counter"></span>)
        </dd>
      </div>
      {% endblock %}
    </dl>
    {% endblock %}
  </header>
  <main>
    {% block main %}
    {% endblock %}
  </main>
</body>

</html>