{% extends "base.html.j2" %}

{% block title %}{{ super() }} - {{index}}{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/annotorious.min.js" defer></script>
<script src="/static/hotkeys.min.js" defer></script>
<script src="/static/script.js" defer></script>
{% endblock %}

{% block status_area %}
<div>
  <dt>status:</dt>
  <dd>
  <span id="status" class="status">pending</span>
  (<span id="total"></span>)
  </dd>
</div>
{{ super() }}
{% endblock %}

{% block main %}
<h2>{{index}}</h2>
<div id="content">
  <img id="image" class="image" src="/static/images/{{index}}.png" alt="image" width="{{im_width}}" height="{{im_height}}">
</div>

<div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" id="clear" class="btn btn-danger">Clear</button>
  </div>
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <a id="prev" role="button" class="btn btn-secondary" href="?prev">Prev</a>
    <a id="next" role="button" class="btn btn-secondary" href="?next">Next</a>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" id="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

<h3>Todo</h3>
<ul>
  <li>Create bounding boxes for the heads and submit.</li>
  <li><strong>INCLUDE HAIR,</strong> not only face.</li>
  <li>Create the box as <strong>TIGHT-FITTING</strong> as possible.</li>
</ul>

<details class="sample">
  <summary>Sample Image</summary>
  <img class="image" src="/static/sample.png" alt="sample" width="640" height="360">
</details>

<h3>Hotkeys</h3>
<ul>
  <li>Enter/Space: Submit</li>
  <li>Delete/D: Remove selected annotation</li>
  <li>ctrl+Z: Undo</li>
</ul>
{% endblock %}